.input {
    display: block;
    height: 60px;
    width: 90%;
    margin: 5px auto 25px auto;
    border: none;
    border-bottom: 1px solid #aaadc3;
    font-size: 20px;
}

.input::placeholder {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: .5s;
    transition: .5s;
}

.input:hover,
.input:focus,
.input:active,
.input:focus {
    color: #2238ff;
    outline: none;
    border-bottom: 1px solid #2238ff;
}

.input:active::placeholder,
.input:focus::placeholder,
.input:hover::placeholder {
    color: #2238ff;
    position: relative;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

.label {
    margin: 0px auto;
    width: 90%;
    font-size: 20px;
}

.send {
    display: block;
    background: #4856d5;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #FFF;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    height: 60px;
    width: 50%;
    margin: 10px auto;
    font-size: 15px;
}

.send:hover {
    font-size: 20px;
    background: #5a69ee;
}